@charset "UTF-8";

/* typical device breakpoints 
pequenas telas:600px
telefone: max-600px/768px
tablet: max-768px/992px
desktop: 992px/1200px
grandes telas: +1200px */


:root{
    --bege_escuro: #60584b;
    --h1: rgb(109, 109, 109);
    --a: #4a4233;
    --fg_hover: #999488;
}

@media screen and (min-width: 768px) and (max-width: 992px)  /* CONFIGURAÇÃO PARA TABLET */{
  
    body{
        background-image: linear-gradient(to bottom, #60584b, white);
    }
  
    #login{
        width: 90vw;
        height: 40%;
    } 
   
    #img{
        float: left;
        width: 35%;
        height: 100%;
        
    }

    p{
        font-size: .8em;
    }

    #formulario{
        float: right;
       
    }

    #all_form{
        display: flex;
        flex-flow:column nowrap ;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
    }

    form{
        margin-top: 10px;
    }

    .log{
        width: 375px;
        
    }

    .campo{
        transform: translateX(-15px);
    }

    #ienter{
        width: 385px;
   
    }

    a{
        width: 371px;
       
    }

  
    
}

@media screen and (min-width: 992px) /* CONFIGURAÇÃO PC */ {
   
    body{
        background-image: linear-gradient(to bottom, #60584b, white);
    }

    main{}

    h1  {
        margin-top: 20px;
    }

    p{
        font-size: .8em;
    }

    form{
        padding-top: 200px;
        transform: translateX(30px) translateY(-30%);

        
    }
   

    #login{
        width: 950px;
        height: 45%;
    }     

    #img{
        float: left;
        width: 40%;
        height: 100%;
    }

    .log{
        width: 48%;
        height: 28px;
    }

    #formulario{
        float: right;
        width: 60%;
    }

    #ienter{
        width: 49%;
        height: 35px;
        padding: 5px;
        margin-bottom: 3px;
        transform: translateX(-20px);
      }
  
    a{
          width: 48%;
          height: 26px;
          margin-right: 72px;
          padding: 4px;
      }
    
}