@charset "UTF-8";


:root{
    --branco: #EEEEEE;
    --bege_escuro: #60584b;
}

*{
  
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bege_escuro);
}

#img_log{
    width: 200px;
    border-radius: 10px;    

    
}

main{
    background-color: var(--branco);
    width: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    border-radius: 20px;
}

input{
    box-shadow: none;
}

.material-symbols-outlined{
    color: var(--bege_escuro);
    vertical-align: -8px;
    transform: translateX(px);
    

}



.log{
    width: 168px;
    height: 31px;
    border-radius: 5px;
    background-color: lightgray;
}


#form , #password{
    
}


h1{
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(109, 109, 109);
    padding: 5px;
}  


p{
  font-size: 0.8em;  
  text-align: justify;
  padding: 5px;
  font-weight: lighter;
}

a{
    text-decoration: none;
    color:#4a4233;
    padding-top: 2px;
    
}


#password , #gmail_pass{
   
    margin-top:8px ;
    border-radius: 5px;
}

#enter{
    padding: 5px;
    margin-top: 5px;
}

#forgot{
    font-size: .8em;
    text-align: center;
    border: 1px solid var(--bege_escuro);
    border-radius: 5px;
    padding-top: 6px;
  
}
   
#forgot:hover{
    background-color: #ccc8bf;
    transition: .7s;
}

#mail{
    font-size: 15px;
    transform: translateY(-5px);
}
