@charset "UTF-8";

:root{
    --branco: #EEEEEE;
    --bege_escuro: #60584b;
}

@media screen and (min-width:768px)  {
    body{
        background-image: linear-gradient(to right, #60584b, #EEEEEE);
    }

}